/* 共通
============================ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

/* ヘッダー
============================ */
header {
  width: 100%;
  height: 50px;
  background-color: #ff9a4b;
}

/* メイン
============================ */
main {
  width: 960px;
  margin: 0 auto;
  display: flex;
}
.item-container {
  width: 300px;
  padding: 10px;
  margin: 50px 0;
  margin-right: 30px;
  position: relative;
  background-color: #eee;
}
.item-container:last-child {
  margin-right: 0;
}
.item-num {
  color: #fff;
  width: 45px;
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 3px 0;
  background-color: #ff9a4b;
}
.item-image1 {
  background-image: url(img/flow01.png);
  background-size: cover;
  background-position: center;
  height: 150px;
  margin-bottom: 10px;
}
.item-image2 {
  background-image: url(img/flow02.png);
  background-size: cover;
  background-position: center;
  height: 150px;
  margin-bottom: 10px;
}
.item-image3 {
  background-image: url(img/flow03.png);
  background-size: cover;
  background-position: center;
  height: 150px;
  margin-bottom: 10px;
}
.item-title {
  color: #000;
  padding: 5px 0;
}
.item-text {
  color: #aaa;
}

/* フッター
============================ */
footer {
  width: 100%;
  height: 50px;
  background-color: #aaa;
}