@charset "UTF-8";
/* 共通
============================= */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* Top-page
============================= */
header {
  width: 85%;
  height: 100px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .header-logo {
  margin-right: auto;
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  color: #fff;
}
header .header-logo:hover {
  opacity: 0.7;
  cursor: pointer;
}
header li {
  display: inline-block;
  margin-right: 20px;
}
header li a {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  color: #fff;
}
header li a:hover {
  opacity: 0.7;
  cursor: pointer;
}
header li:last-child {
  margin-right: 0;
}

.top-text {
  width: 400px;
  margin: 300px auto;
  font-size: 3rem;
  color: #fff;
  padding: 20px;
  border: 1px solid #fff;
  font-family: "Roboto", sans-serif;
}

.top-bg {
  width: 100%;
  height: 814px;
  text-align: center;
  background-image: url(../img/fv-bgi@2x.jpg);
  background-position: center;
  background-size: cover;
}

/* About
============================= */
#about {
  width: 80%;
  margin: 15% auto;
}
#about .about-title {
  font-size: 50px;
  font-weight: bold;
  padding-bottom: 60px;
  text-align: center;
  font-family: "Roboto", sans-serif;
}
#about .about-sub-title {
  font-size: 30px;
  padding-bottom: 20px;
}
#about .about-text {
  font-size: 20px;
}

/* Service
============================= */
#service {
  width: 80%;
  margin: 15% auto;
}
#service .service-title {
  font-size: 50px;
  font-weight: bold;
  padding-bottom: 60px;
  text-align: center;
  font-family: "Roboto", sans-serif;
}
#service .item-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin-bottom: 5%;
}
#service .item-container .item-img {
  width: 45%;
  height: 45%;
}
#service .item-container .text-container {
  width: 45%;
  padding: 2% 0;
}
#service .item-container .text-container .item-title {
  font-size: 25px;
  padding-bottom: 5%;
}
#service .item-container .text-container .item-text {
  font-size: 15px;
}
#service .item-container2 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#service .item-container2 .item-img {
  width: 45%;
  height: 45%;
}
#service .item-container2 .text-container {
  width: 45%;
  padding: 2% 0;
}
#service .item-container2 .text-container .item-title {
  font-size: 25px;
  padding-bottom: 5%;
}
#service .item-container2 .text-container .item-text {
  font-size: 15px;
}

/* contents
============================= */
#contents {
  width: 80%;
  margin: 15% auto;
}
#contents .contents-title {
  font-size: 50px;
  font-weight: bold;
  padding-bottom: 60px;
  text-align: center;
  font-family: "Roboto", sans-serif;
}
#contents .card-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#contents .card-container .card {
  width: 32%;
  -webkit-box-shadow: 0 0 3px #000;
          box-shadow: 0 0 3px #000;
}
#contents .card-container .card .card-img {
  width: 100%;
}
#contents .card-container .card .card-text {
  font-size: 15px;
  padding: 20px;
}

/* contact
============================= */
#contact {
  width: 80%;
  margin: 15% auto;
}
#contact .form-title {
  font-size: 35px;
  font-weight: bold;
  padding-bottom: 60px;
  text-align: center;
  font-family: "Noto Sans JP", sans-serif;
}
#contact form {
  width: 60%;
  margin: 0 auto;
}
#contact form lavel {
  display: block;
}
#contact form input[type=text],
#contact form input[type=email] {
  width: 100%;
  margin-bottom: 15px;
  max-width: 700px;
}
#contact form textarea {
  width: 100%;
  height: 8rem;
  max-width: 700px;
  resize: none;
}
#contact form input[type=submit] {
  color: #fff;
  background-color: #000;
  padding: 0;
  border-radius: 30px;
  display: block;
  margin: 5% auto;
  padding: 8px 65px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}
#contact form input[type=submit]:hover {
  opacity: 0.7;
}

/* footer
============================= */
footer {
  width: 100%;
  height: 80px;
  text-align: center;
  background-color: #000;
}
footer p {
  color: #fff;
  line-height: 80px;
}

/* メディアクエリ
============================= */
@media (max-width: 700px) {
  .top-text {
    width: 300px;
    font-size: 2rem;
  }

  .top-bg {
    background-image: url(../img/fv-bgi_sp@2x.jpg);
  }

  #about .about-sub-title {
    font-size: 20px;
  }

  #about .about-text {
    font-size: 14px;
  }

  #service .item-container {
    display: block;
  }
  #service .item-container .item-img {
    width: 100%;
    margin-top: 20px;
  }
  #service .item-container .text-container {
    width: 100%;
  }

  #service .item-container2 {
    display: block;
  }
  #service .item-container2 .item-img {
    width: 100%;
    margin-top: 20px;
  }
  #service .item-container2 .text-container {
    width: 100%;
  }

  #contents .card-container {
    display: block;
  }
  #contents .card-container .card {
    width: 100%;
    margin-bottom: 20px;
  }

  #contact form {
    width: 100%;
  }
  #contact form input[type=submit] {
    padding: 10px 100px;
    font-size: 25px;
  }

  .btn-menu {
    display: block;
    position: absolute;
  }
  .btn-menu:hover {
    opacity: 0.7;
    cursor: pointer;
  }
  .btn-menu .fa-bars {
    color: #fff;
  }

  /* ---------------------------- */
  /* ---- ハンバーガーアイコン ---- */
  /* ---------------------------- */
  #hm-icon {
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 10;
  }

  .menu-trigger,
.menu-trigger span {
    display: inline-block;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }

  .menu-trigger {
    position: relative;
    width: 50px;
    height: 44px;
  }

  .menu-trigger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #9a9a9a;
    border-radius: 4px;
  }

  .menu-trigger span:nth-child(1) {
    top: 0;
  }

  .menu-trigger span:nth-child(2) {
    top: 20px;
  }

  .menu-trigger span:nth-child(3) {
    bottom: 0;
  }

  .menu-trigger.active span:nth-child(1) {
    -webkit-transform: translateY(20px) rotate(-45deg);
    transform: translateY(20px) rotate(-45deg);
    background-color: #fff;
  }

  .menu-trigger.active span:nth-child(2) {
    opacity: 0;
  }

  .menu-trigger.active span:nth-child(3) {
    -webkit-transform: translateY(-20px) rotate(45deg);
    transform: translateY(-20px) rotate(45deg);
    background-color: #fff;
  }

  /* ------------------------ */
  /* ------ spメニュー ------ */
  /* ------------------------ */
  #nav {
    position: fixed;
    top: 0;
    left: 0;
    background: #000;
    color: #fff;
    width: 100%;
    min-height: 100%;
    display: none;
    z-index: 9;
  }
  #nav ul {
    margin: 50% auto;
  }
  #nav ul li {
    display: block;
    text-align: center;
    margin-right: 0;
    margin-bottom: 30px;
  }
  #nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
}
/*# sourceMappingURL=style.css.map */