/* 共通
================================ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
/* font-family: 'Noto Serif JP', serif; 和文 */
/* font-family: 'Noto Serif', serif; 欧文 */

/* fv
================================ */
.container {
  height: 100vh;
  position: relative;
}
header {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100px;
  padding: 20px;
  top: 0;
  z-index: 10;
  .main-logo {
    margin-right: auto;
    color: #fff;
    font-size: 32px;
    font-family: 'Noto Serif', serif;
  }
  li {
    display: inline-block;
    margin-right: 10px;
  }
  .list {
    color: #fff;
    font-family: 'Noto Serif', serif;
    &:hover {
      opacity: .7;
    }
  }
}
.title-container {
  position: absolute;
  left: 10%;
  bottom: 30%;
  text-align: center;
  z-index: 10;
  .top-title {
    color: #fff;
    font-family: serif;
    font-size: 50px;
  }
  .top-text {
    color: #fff;
    font-size: 26px;
  }
}
.change-color {
  background-color: #282f35;
}
/* Concept
================================ */
#concept {
  .concept-wrapper {
    width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
    .concept-title {
      font-family: 'Noto Serif', serif;
      font-size: 45px;
      padding: 0 100px;
      position: relative;
      &::after {
        position: absolute;
        content: "";
        width: 150px;
        height: 30px;
        border-bottom: 3px solid #000;
      }
    }
    .concept-text {
      font-weight: bold;
      font-family: 'Noto Serif JP', serif;
      font-size: 30px;
      padding: 50px 0;
      text-align: center;
    }
    .item-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 1000px;
      margin: 0 auto;
      .item-text {
        font-size: 16px;
        font-family: 'Noto Serif JP', serif;
        padding-right: 30px;
        width: 440px;
      }
      .item-image {
        width: 440px;
        height: 240px;
      }
    }
    .sub-title {
      text-align: right;
      font-size: 90px;
      padding-top: 100px;
      font-family: 'Noto Serif', serif;
      color: #828484;
    }
  }
}
/* Works
================================ */
#works {
  background: {
    image: url(../img/works-bgi@2x.jpg);
    position: center;
    size: cover;
  }
  .works-wrapper {
    width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
    text-align: center;
    .works-title {
      font-family: 'Noto Serif', serif;
      text-align: right;
      font-size: 60px;
      padding-right: 150px;
      position: relative;
      color: #fff;
      &::after {
        position: absolute;
        content: "";
        width: 150px;
        height: 45px;
        border-bottom: 3px solid #fff;
      }
    }
    .card-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 1000px;
      margin: 0 auto;
      padding: 50px 0;
      .card {
        width: 32%;
        &-image {
          width: 100%;
        }
        &-text {
          font-size: 16px;
          font-family: 'Noto Serif JP', serif;
          padding: 10px;
          width: 100%;
          margin: 0 auto;
          color: #000;
          background-color: #fff;
          text-align: left;
        }
      }
    }
    .btn {
      text-align: center;
      padding: 10px 100px;
      background-color: rgb(252, 235, 2);
      color: #000;
      border-radius: 30px;
      margin: 0 auto;
      width: 250px;
      font-size: 16px;
      font-family: 'Noto Serif', serif;
    }
    .sub-title {
      font-size: 90px;
      padding-top: 100px;
      font-family: 'Noto Serif', serif;
      color: #828484;
      text-align-last: left;
    } 
  }
}